<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-7652340-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-7652340-9');
</script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ summary }}">

  <title>{{ buildTitle title site.title }}</title>

  <meta property="og:url" content="{{ site.url}}/{{ path }}"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:description" content="{{ striptags (markdown summary) }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:image" content="{{ site.url }}/images/rumyra.jpg" />

  <!-- Twitter Do Not Track -->
  <meta name="twitter:dnt" content="on">

  <link rel="apple-touch-icon" sizes="180x180" href="images/favico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favico/favicon-16x16.png">
  <link rel="mask-icon" href="/images/favico/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#f6ece0">

  <link rel="manifest" href="/rumyrasblog.webmanifest">

  <link rel="stylesheet" href="/assets/css/style.css?{{moment date 'YYYYMMDDHHMM'}}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
  <script defer>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/service-worker.js', { scope: '/' });
      });
    }
  </script>
</head>
