<!-- TODO add a flag for different type images (size, look, crop etc...) -->

<figure class="{{ class }}" markdown="1">
{{#if this.caption}}
<figcaption>{{{ caption }}}</figcaption>
{{/if}}
<picture>
	<source srcset="https://res.cloudinary.com/rumyra/image/upload/ar_16:9,c_fill/c_scale,w_auto,dpr_auto,q_auto:good/blog/{{image}}.webp" type="image/webp" media="(min-width: 660px)">
	<source srcset="https://res.cloudinary.com/rumyra/image/upload/ar_16:9,c_fill/c_scale,w_auto,dpr_auto,q_auto:good/blog/{{image}}.png" type="image/png" media="(min-width: 660px)">
	<source srcset="https://res.cloudinary.com/rumyra/image/upload/ar_16:9,c_fill/c_scale,w_auto,dpr_auto,q_auto:eco/blog/{{image}}.webp" type="image/webp" media="(max-width: 659px)">
	<source srcset="https://res.cloudinary.com/rumyra/image/upload/ar_16:9,c_fill/c_scale,w_auto,dpr_auto,q_auto:eco/blog/{{image}}.png" type="image/png" media="(max-width: 659px)">
	<img src="https://res.cloudinary.com/rumyra/image/upload/ar_16:9,c_fill/c_scale,w_auto,dpr_auto,q_auto:eco/blog/{{image}}.png" alt="{{ alt }}" />
</picture>
</figure>

<!-- this is for images - for gifs and videos something else will be needed -->