.site__footer {
  display: block;
  padding: $verticalSpace 0px 0px;
  border-top: 2px solid $brand2;
  text-align: center;
  ul {
    @include clearListStyles();
    display: flex; justify-content:center;
    @include until($screenMedium) {
      flex-wrap:wrap;
    }
    li {
      a {
        border:none; text-decoration:none;
        svg {
          width:auto; height:74px;
          padding:$verticalSpace/2 $gutter/2;
          box-sizing:border-box;
          path {fill:$blue;}
        }
        &:hover {
          svg path {fill:$brand3;}
        }
      }
    }
  }
}