.section__posts {
  padding: $verticalSpace $gutter;
}

.posts__list {
	@include clearListStyles();
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  @include until($screenMedium) {
    grid-template-columns: repeat(2, 1fr);
  }
	grid-gap: $gutter;
}

.post-link__container {
  position: relative; overflow: hidden;
  display: flex;
  box-shadow: 1px 1px 0px 0px white,
    inset 1px 1px 1px 0px transparentize($black, 0.95);
  ;
  &:hover {
    transform: translate(-1px, -1px);
  }

  img {
    position: absolute;
    top: -10%; left: -10%;
    width: auto; height: 60vh;
    opacity: 0.2;
    -webkit-filter: invert(1) brightness(80%);
    filter: invert(1) brightness(80%);
  }

  .post-link, .post-link__title, .post-link__date, .post-link__preview p {
    position: relative;
    margin:0px; padding:0px;
    text-shadow: none;
    color: $white;
    opacity: 1; z-index: 2;
  }

  .post-link {
    padding: $verticalSpace $gutter;
  	text-decoration: none;
    &:hover {
      background-color: transparentize($white, 0.9);
    }
  }

  // date
  .post-link__date {
    margin-bottom: $verticalSpace/2;
    line-height: $goldenRatio;
    @extend %smallCaps;
    @include partBorder(0%, 20%, $white);

  }

  .post-link__title {
    margin-bottom: $verticalSpace/3;
    padding-bottom: 2px;
  	@extend %readingText;
    line-height: 1.2;
    @include partBorder(0%, 20%, $white);

  }

  .post-link__preview {

  }
}

// colours & images
.post-link__container {
  background-color: $pink;
  background-image: linear-gradient(0deg, $pink, lighten($pink, 3%));
}
.post-link__container:nth-of-type(1) {
	background-color: $blue;
	background-image: linear-gradient(0deg, $blue, lighten($blue, 3%));
}
.post-link__container:nth-of-type(2), .post-link__container:nth-of-type(4) {
	background-color: $purple;
	background-image: linear-gradient(0deg, $purple, lighten($purple, 3%));
}
.post-link__container:nth-of-type(6), .post-link__container:nth-of-type(8) {
	background-color: $peach;
	background-image: linear-gradient(0deg, $peach, lighten($peach, 3%));
  img {-webkit-filter: invert(1) brightness(150%);
    filter: invert(1) brightness(150%);}
  .post-link__title, .post-link__date, .post-link__preview p {color: $blue;}
  .post-link__date, .post-link__title {@include partBorder(0%, 20%, $blue);}
}
.post-link__container:nth-of-type(9) {
	background-color: $taupe;
	background-image: linear-gradient(0deg, $taupe, lighten($taupe, 3%));
  img {-webkit-filter: invert(1) brightness(150%);
    filter: invert(1) brightness(150%);}
  .post-link__title, .post-link__date, .post-link__preview p {color: $blue;}
  .post-link__date, .post-link__title {@include partBorder(0%, 20%, $blue);}
}

.pagination {
  padding: 0px $gutter $verticalSpace;
  text-align: center;

  .pagination--link {
    display: inline-block;
    padding: 0px $gutter;
    @extend %smallCaps;
    color: $pink;

    &:nth-of-type(2) {
      border-left: 1px solid $pink;
    }
  }
}









