.site__nav {
  padding: 0px $gutter;
  ul {
    @include clearListStyles();
    padding-bottom: $verticalSpace;
    border-bottom: 1px solid $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    @extend %smallCaps;
    line-height:1;
    color: $blue; text-decoration: none;
    &:hover {text-decoration:underline;}

    svg {
      display: block;
      margin: auto;
    }
  }
}