/*media*/
img, audio, video {
  width: 100%; height: auto;
  padding-bottom: $verticalSpace/2;
}
img {
  @include simple-vendor-prefix(box-sizing,border-box);
  display: block;
}
audio {}
video {}

figure {
  margin-bottom: $verticalSpace;
  @include partBorder(0%, 80%, $speakWrite);
}

figcaption {
  margin: 0px 0px $verticalSpace/2;
  @extend %smallCaps;
  line-height: $goldenRatio;
  color: $speakWrite;
  @include partBorder(0%, 80%, $speakWrite);
}

.brain-dribble {
  figure {@include partBorder(0%, 80%, $brainDribble);}
  figcaption {
    color: $brainDribble;
    @include partBorder(0%, 80%, $brainDribble);
  }
}
.craft-code {
  figure {@include partBorder(0%, 80%, $craftCode);}
  figcaption {
    color: $craftCode;
    @include partBorder(0%, 80%, $craftCode);
  }
}

/*Prevents modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices.*/
audio:not([controls]) { display: none; height: 0; }
