<html lang="en">
{{> head }}
<body><div class="wrapper">
  {{> nav }}

  <header class="site__header">
    <h1>Rumyra's Head</h1>
    <p>Personal Blog of Ruth John</p>
  </header>



  <article class="blog-article {{category}}" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="article__header">
      <p class="article__date"><time datetime="{{moment this.date 'YYYY-MM-DD' }}">{{moment this.date 'dddd, Do MMMM YYYY' }}</time></p>

      <h2 class="article__title" itemprop="name headline">{{ title }}</h2>
    </header>

    <section class="article__body" itemprop="articleBody">
      {{{ contents }}}
    </section>

    <section class="article__share">
      {{> share shareText='Share this post'}}
    </section>
  </article>

  {{> footer }}
  </div><!--wrapper-->

  <!-- <nav class="nav__back">
    <a href="/" title="Return to all posts">←</a>
  </nav> -->

  <link rel="stylesheet" href="/assets/css/tomorrow-night.css" async defer>
  <script type="text/javascript" src="/assets/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>
  <script>
    var tweets = document.querySelectorAll(".article__tweet");
    for(var i=0; i<tweets.length; i++) {
      var tweet = tweets[i];
      var id = tweet.getAttribute("tweetID");

      twttr.widgets.createTweet(
        id, tweet,
        {
          conversation : 'none',
          cards: 'visible',
          linkColor: '#B76380',
          theme: 'light',
          align: 'center'
        });
    }

  </script>
  <script>
    if (navigator.share) {
      [].slice.call(document.querySelectorAll('.share')).forEach(function(shareButton) {
        shareButton.classList.add('show');
        shareButton.addEventListener('click', function(event) {
          event.preventDefault();
          navigator.share({
            title: document.title,
            url: window.location.href
          });
        });
      });
    }
  </script>
</body>
</html>
